.env
__pycache__/
venv/
instance/
flask_session/
*.db
*.pyc
/app/static/images
/app/static/icons
/seed_datalogs/
*.log
app/static/uploads/dogs/*.jpg
app/static/uploads/dogs/*.png
app/static/uploads/profiles/*.jpg
app/static/uploads/profiles/*.png
.DS_Store
.claude/scheduled_tasks.lock
