{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mb-5">
        <h1>Hello, {{ user.firstname }}.</h1>
    </div>
    <!-- TODO: Generate this card dynamically if there are warnings or client info messages to show -->
    <div class="card text-start mb-3 w-75 border-warning" style="margin: auto;">
        <h5 class="card-header text-bg-warning">
            <i class="bi bi-exclamation-triangle"></i>
            Heatwave schedule
        </h5>
        <div class="card-body">
            <p class="card-text">We're switching to the 'heatwave' schedule next week. Morning walks will start at 7am.
            </p>
            <div class="text-end"><a href="#" class="btn btn-secondary btn-warning">Got it!</a></div>
        </div>
    </div>

    {% if user.dogs %}
    <!-- Show the next three walks for each dog associated with the current user -->
    {% for dog in user.dogs %}
    <div class="card mb-3 w-75" style="margin: auto; min-height: 250px;">
        <h5 class="card-header text-start text-bg-primary">
            <i class="bi bi-calendar-event"></i>
            {{ dog.name }}'s diary
        </h5>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/' + dog.pic) }}" class="img-fluid rounded-circle mt-3"
                    alt="{{ dog.name }}" style="width: 150px; height: 150px; object-fit: cover; max-width: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-start">
                    <p class="card-text">                    
                    {% if bookings %}

                    <p>Here are {{ dog.name }}'s upcoming walks. You can edit or cancel them using the buttons as
                        needed.</p>

                    <table class="table">
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.date_display }}</td>
                                <td>{{ booking.slot }}</td>
                                <td><i class="bi bi-pencil-square"></i></td>
                                <td><i class="bi bi-x-square"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No bookings found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No dogs registered. Update your profile to add a dog</p>
    {% endif %}

    <div class="card mb-3 w-75" style="margin: auto;">
        <h5 class="card-header text-start text-bg-secondary">
            <i class="bi bi-plus-square"></i>
            New booking
        </h5>
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body text-start">
                    <form action="/" method="post" id="BookingForm" novalidate>
                        {{ form.hidden_tag() }}

                        <div class="row g-3">
                            <div class="col-md-5">
                                {{ form.date(class="form-control") }}
                                {% for error in form.date.errors %}
                                <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="col-md-5">
                                {{ form.slot(class="form-select") }}
                                {% for error in form.slot.errors %}
                                <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-md-2">
                                {{ form.submit(class="btn btn-secondary") }}
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}