<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- Temporary offline css and js for working on the plane, also commented out dropzone as it slows page loads on plane wifi -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='icons/bootstrap-icons-1.13.1/bootstrap-icons.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- http://getbootstrap.com/docs/5.3/ 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    -->

    <!-- Dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index')}} ">
                <img src="{{ url_for('static', filename='apple-touch-icon.png') }}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Bermondsey St Dog Walkers
            </a>

            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav me-auto mt-2">
                    <!-- Left aligned menu items go here. -->
                    <!-- <li class="nav-item"><a class="nav-link" href="">TODO</a></li> -->
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item">
                        <a class="icon-link nav-link" href="/logout">
                            <svg class="bi" width="64" height="64" fill="currentColor">
                                <use xlink:href="{{ url_for('static', filename='icons/bootstrap-icons-1.13.1/bootstrap-icons.svg') }}#box-arrow-left" />
                            </svg>
                            Log Out ({{ current_user.firstname }})
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item">
                        <a class="icon-link nav-link" href="/register">
                            <svg class="bi" width="64" height="64" fill="currentColor">
                                <use xlink:href="{{ url_for('static', filename='icons/bootstrap-icons-1.13.1/bootstrap-icons.svg') }}#person-add" />
                            </svg>
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="icon-link nav-link" href="/login">
                            <svg class="bi" width="64" height="64" fill="currentColor">
                                <use xlink:href="{{ url_for('static', filename='icons/bootstrap-icons-1.13.1/bootstrap-icons.svg') }}#door-open" />
                            </svg>
                            Log In
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container py-3 text-center">
        {% block main %}{% endblock %}
    </main>

    <footer class="mb-5">
    </footer>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const alerts = document.querySelectorAll('.alert-dismissible.fade.show');
        if (!alerts || alerts.length === 0) return; // nothing to do

        alerts.forEach(function (alert) {
          const bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
          let timeout = setTimeout(() => bsAlert.close(), 5000);
          alert.addEventListener('mouseenter', () => clearTimeout(timeout));
          alert.addEventListener('mouseleave', () => { timeout = setTimeout(() => bsAlert.close(), 2000); });
        });
      });
    </script>
    
    {% block scripts %}{% endblock %}
</body>

</html>